@model IEnumerable<loteria.Models.Entities.Cartas>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="card sinfondo">
        <div class="card-header">
            <h2 class="title text-light">Cartas</h2>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-between">
            @foreach (var item in Model)
            {
                <div class="col-2" style="margin-bottom:1%;">
                    <div class="card sinfondo" style="padding:0; border:none;">
                        <div class="card-body" style="padding:0; border:none;">
                            <img src="@Url.Content(item.Imagen)" width="80%" height="80%" />
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

